<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div class="container mt-5">
        <h2>내 프로필</h2>
        <p><strong>이메일:</strong> <span th:text="${email}"></span></p>
        <p>전체 정보 : <span th:text="${user}"></span></p>
        <p>id : <span th:text="${id}"></span></p>

    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>