<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<nav th:fragment="navbar" class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">SpringMall2</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="profile">프로필 테스트</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="product/list">상품 목록 조회</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">해당 사이트의 방문이 처음이신가요?</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ROLE_SELLER')">
                    <a class="nav-link" href="registerProduct">판매할 상품 등록</a>
                </li>

                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="login">로그인</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="signup">회원가입</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="logout">로그아웃</a>
                </li>

            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>